<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="templateAdmin">
<head>
<meta charset="utf-8" />
<title>Isi Transfert</title>
</head>
<body>
<div layout:fragment="content">





  <div class="">
        
        <section class="content">
          <div class="row">
            <div class="col-md-4"><a th:href="@{prestataireSingle(idp=${compte.prestataire.idpres})}"><button class="btn btn-default btn-xs">Sortir de l'agence</button></a>
              <section class="box box-primary">
              	 <div class="row box-body">
          <div class="col-xs-12">
            <h2 class="page-header">
             <i class="fa fa-building" aria-hidden="true"></i> <b>Agence</b> :<span th:text="${compte.nomcompte}"></span>
             <!--  <small class="pull-right"><strong th:text="${compte.solde}"></strong> <span>FCFA</span></small> -->
            </h2>
             <address>
             <h4><i class="fa fa-money" aria-hidden="true"></i> <b>Solde</b> :<span th:text="${compte.solde}"></span> FCFA</h4>
              <strong th:text="Informations"></strong><br/>
              <span th:text="${compte.regioncompte}"></span> / <span th:text="${compte.adressecompte}"></span><br/>
              Gérant : <label ></label><br/>
              Phone: 77 424 30 32<br/>
            
          </address>
          <hr/>
           <address>
              <strong>Parametrage</strong><br/>
             Taux Envoi__________ : <span th:text="${compte.tauxenvoi}"></span> % <br/>
             Taux Retrait_________ : <span th:text="${compte.tauxretrait}"></span> % <br/>
             Plafond____________ : <span th:text="${compte.plafondcompte}"></span> % <br/>
              Phone: 77 424 30 32<br/>
            
          </address>
          </div>
         
         
           
        </div>
              </section>
              
                <div class="box box-success">
                <div class="box-header">
                  <h3 class="box-title">Creer un nouveau Guichet</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                	<form role="form" th:action="@{addguichet}">
                		<input type="hidden" name="idcompte" th:value="${compte.idcompte}"/>
 							  <div class="form-group" >
 							  	  <label>Elements general</label>
			                      <input type="text" class="form-control" placeholder="Responsable guichetier" name="respguichet" th:required="required" /><br/> 
			                      <input type="number" class="form-control" placeholder="Telephone" name="telguichet"  th:required="required"/><br/> 
			                      <div class="form-group">
				                      <select class="form-control" name="roleuser"> 
				                        <option th:each="lr:${listroles}"  th:value="${lr.idrole}" th:if="${lr.libelerole}=='Guichetier'" ><span th:text="Role"></span> <span th:text="${lr.libelerole}"></span></option>
				                      </select>
				               </div>
			                      <div class="form-group">
			                      	  <label>Type de guichet</label>
				                      <select class="form-control" name="typeguichet">
				                        <option th:value="Envoi">Guichet envoi</option>
				                        <option th:value="Retrait">Guichet retrait </option>
				                        <option th:value="Mixte">Guichet Mixte</option>
				                      </select>
				                    </div>  
				                    
		                      </div>
		                      
	                     	  <div class="form-group">
		                      <label>Element d'authentification</label>
		                      <input type="text" class="form-control" placeholder="identifiant de connexion" name="identifiantguichet" th:required="required"/><br/>
		                      <input type="password" class="form-control" placeholder="Mot de passe" name="passwdguichet" th:required="required"/><br/>
		                      <input type="password" class="form-control" placeholder="Retapez le mot de passe" name="passwdguichet2" th:required="required"/><br/>
	                    	  </div>
	                    	  <div class="box-footer">
			                    <button type="submit" class="btn btn-primary">Enregister</button>
			                     <button type="reset" class="btn btn-primary">Annuler</button>
			                  </div>
                	</form>
                </div>
               
              </div>

              
            </div>
            <div class="col-md-8"><a th:href="@{versementcompte(ida=${compte.idcompte})}"><button class="btn btn-default btn-xs">Versement</button></a> <a th:href="@{retraitcompte(ida=${compte.idcompte})}"><button class="btn btn-default btn-xs">Retrait Iban</button></a> <a th:href="@{listoperations(ida=${compte.idcompte})}"><button class="btn btn-default btn-xs">Liste des operations</button></a><br/>
              <div class="box box-primary" th:if="${vers}">
              	<div class="box-header">Effectuez un versement
              	 <div class="box-tools">
                    <ul class="pagination pagination-sm no-margin pull-right">
                      
                      <li><a th:href="@{versementcompte(ida=${compte.idcompte})}"><i class="fa fa-times" aria-hidden="true"></i></a></li>

                    </ul>
                  </div>
              	</div>
              	<div class="box-body">
              	 <form th:action="@{versementcompte}">
              	 	 <input type="hidden" name="ida" th:value="${compte.idcompte}"/>
             	 	 <input  type="number" max="50000000" class=" col-md-5 " placeholder="Montant a verser" name="montant" th:required="required" /> FCFA <br/><br/><button type="submit" class="btn btn-primary btn-xs ">Enregistrer</button>
             	 </form>
             	<!--  <span th:text="${#httpServletRequest.getParameter('error')}" ></span> -->
             	 </div>
              </div>
               <div class="box box-danger" th:if="${retrait}">
                
              	<div class="box-header">Valider un retrait
              	 <div class="box-tools">
                    <ul class="pagination pagination-sm no-margin pull-right">
                      
                      <li><a th:href="@{versementcompte(ida=${compte.idcompte})}"><i class="fa fa-times" aria-hidden="true"></i></a></li>

                    </ul>
                  </div>
              	</div>
              	<div class="box-body">
              	<form th:action="@{retraitcompte}">
              	 	 <input type="hidden" name="ida" th:value="${compte.idcompte}"/>
             	  <input type="number" max="50000000" class=" col-md-5 " placeholder="Montant a retiré" name="montant" /> FCFA <br/><br/><button type="submit" class="btn btn-primary btn-xs ">Enregistrer</button>
             	 </form>
             	 </div>
             	
              </div>
              <div class="box box-danger" th:if="${listopera}">
                
              	<div class="box-header"><h3 class="box-title">Liste des opérations</h3>
              	 <div class="box-tools">
                    <ul class="pagination pagination-sm no-margin pull-right">
                      
                      <li><a th:href="@{versementcompte(ida=${compte.idcompte})}"><i class="fa fa-times" aria-hidden="true"></i></a></li>

                    </ul>
                  </div>
              	</div>
              	<div class="box-body">
              	 <table id="example2" class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th>Type</th>
                        <th>Montant</th>
                        <th>Date</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="mo:${mesoper}">
                       
                        <td th:text="${mo.class.simpleName}"></td>
                         <td th:text="${mo.montantoper}"></td>
                         <td th:text="${mo.dateoper}"></td>
                        <td>
                        	<a href="" title="initialiser mot de passe" class="btn btn-xs"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                   
                        </td>
                      </tr>
                    </tbody>
                  </table>
              	
             	 </div>
             	
              </div>
              <div class="box box-warning">
                <div class="box-header">
                  <h3 class="box-title">Liste des Guichets de l'agence  </h3>
                  <div class="box-tools">
                    <ul class="pagination pagination-sm no-margin pull-right">
                      <li><a href="#">&laquo;</a></li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">&raquo;</a></li>
                    </ul>
                  </div>
                </div>
                <div class="box-body no-padding">
                  <table id="example2" class="table table-striped table-hover">
                    <thead>
                      <tr>
                       
                        <th>Responsable</th>
                        <th>Telephone</th>
                        <th>Etat</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="lg:${listguichets}">
                       
                        <td th:text="${lg.user.nomuser}"></td>
                         <td th:text="${lg.user.teluser}"></td>
                         <td align=""><button th:text=" Actif " th:if="${lg.etatguichet=='1'}" class="btn btn-success btn-xs"></button ><button th:text="Bloqué" th:if="${lg.etatguichet=='0'}" class="btn btn-danger btn-xs"></button></td>
                        <td>
                        	<a href="" title="initialiser mot de passe" class="btn btn-xs"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                   
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

          <script type="text/javascript" th:inline="javascript">
      $(function () {
        $("#example1").dataTable();
        $('#example2').dataTable({
          "bPaginate": true,
          "bLengthChange": false,
          "bFilter": false,
          "bSort": true,
          "bInfo": true,
          "bAutoWidth": false
        });
      });
    </script>   
           
</div>
</body>
</html>